<!-- Navbar -->
<nav class="navbar navbar-expand-lg  bg-light" id="navbar">
    <div class="container-fluid blog-nav">
        <a class="navbar-brand" href="/">Hawk Box</a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

            </ul>
            <a class="btn btn-primary" id="createPost" href="/newpost" role="button">Create Post</a>
            <a class="btn btn-primary" id="signIn" href="/login" role="button">Sign in</a>

        </div>
    </div>
</nav>
<!-- Accordion -->
<div class="container">
    <div class="row">
        <div class="col-l-2 col-m-2 col-s-1"></div>
        <div class="accordion col-l-8 col-m-8 col-s-10" id="blogpost">
            {{#each posts}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{title}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{readMore body}}<a href="/singlepost/{{id}}">See more.</a>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
        <div class="col-l-2 col-m-2 col-s-1"></div>
    </div>
</div>
<script src="/js/blogpost.js"></script>