<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light" id="navbar">
    <div class="container-fluid blog-nav">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
            Hawk Box
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn btn-primary" id="createPost" href="/blogpost" role="button">View Blog Posts</a>

            <a class="btn btn-primary" id="signIn" href="#" role="button">Sign in</a>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-4">Welcome Hawks Fans</h1>
    <p class="lead">This is a place to discuss everything Seahawks!</p>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Current Season Stats</h3>
                <img src="/images/seahawks.jpg" id="seahawks">
                <hr class="my-4">
                <p class="card-text">
                    Games so far:<span id="games"></span>
                    <br />
                    Touchdowns:<span id="touchdown"></span>
                    <br />
                    Passing Yards:<span id="passingYards"></span>
                    <br />
                    Passing Completions:<span id="passingComplete"></span>
                    <br />
                    Fumbles:<span id="fumbles"></span>
                    <br />
                    Passing Interceptions:<span id="passingIntercep"></span>
                    <br />
                    Passing Touchdowns:<span id="passingTouchdown"></span>
                    <br />
                    Red Zone Attempts:<span id="redZone"></span>
                    <br />


                </p>
            </div>
        </div>
    </div>
       <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Most Recent Post</h5>
                <hr class="my-4">
                <h4><a href="/singlepost/{{id}}">{{dataValues.title}}</a></h4>
                <div id="iframeDiv">
                    <iframe id="player" type="text/html" width="640" height="390" src="{{dataValues.video}}"
                        frameborder="0"></iframe>
                </div>
                <p>
                    {{dataValues.body}}
                </p>
            </div>
        </div>
    </div>
</div>

<script src="/js/homepage.js"></script>
