<nav class="navbar navbar-expand-lg bg-light" id="navbar">
    <div class="container-fluid blog-nav">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
            Hawk Box
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

            </ul>



            <a class="btn btn-primary" id="createPost" href="/blogpost" role="button">View Blog Post</a>

            <a class="btn btn-primary border border-success" id="signIn" href="/login" role="button">Log in</a>

            <a class="btn btn-primary" id="signUp" href="/signup" role="button">Sign up</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="form-group">
                    <label for="exampleInputUser1">User name</label>
                    <input type="user" class="form-control" id="user-input" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" id="logInPageBtn">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/signup">here</a></p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>