<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light" id="navbar">
    <div class="container-fluid blog-nav">
        <a class="navbar-brand" href="#">Hawk Box</a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Card for form -->
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="card col-s-6 col-m-4 col-l-4">
            <div class="card-body">
                <div class="mb-3">
                    <label for="PostTitle" class="form-label">Title</label>
                    <input type="title" class="form-control" id="title" placeholder="Give your post a title" />
                </div>
                <div class="mb-3">
                    <label for="FormTextarea" class="form-label">Post</label>
                    <textarea class="form-control" id="blogText" rows="10"></textarea>
                </div>
                <button type="button" id="newPost" class="btn btn-success">
                    Publish
                </button>
            </div>
        </div>
        <div class="col-s-3 col-m-4 col-l-4"></div>
    </div>
</div>